<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Alice Zhang">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Alice Zhang professional website">
    <title>Alice Zhang</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Alice Zhang</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Magestic Technologies</td>
                <td>Created pre-processer Python scripts for nesting groups in EvolvGMP</td>
            </tr>
            <tr>
                <td>Sunshine Housing</td>
                <td>Developed web-application with apartment listings, interactive map, and user database</td>
            </tr>
            <tr>
                <td>YourBCABus</td>
                <td>Maintain bus-location tracker app</td>
            </tr>
            <tr>
                <td>TableJet</td>
                <td>Initiated and develop teacher-attendance tracking app</td>
            </tr>
        </table>
        <br>
        <a href="../static/tempResume.pdf" target="_blank">Resume</a> 
    </div>
    <br>
    <footer>
        <p id="copyYear">&copy; designed and coded by Alice Zhang</p>
    </footer>
    
</body>
</html>