<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Alice Zhang">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Alice Zhang professional website">
    <title>Alice Zhang</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Alice Zhang</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    <div class="mainLayout">
        <div>
            <h2>Find Me</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1047.2182459440546!2d139.57026027176607!3d35.69682318890157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018ee34e5038c2d%3A0x4de155903f849205!2sGhibli%20Museum!5e0!3m2!1sen!2sus!4v1742415192635!5m2!1sen!2sus" 
                    width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
        <div>
            <h2>Contact Me</h2>
            <form>
                <label for="name">Your name (required):</label>
                <input type="text" id="name" name="name" required><br>
                <label for="email">Your email (required):</label>
                <input type="text" id="email" name="email" required><br>
                <label for="comment">Your comment (required):</label>
                <textarea id="comment" name="comment" required></textarea>
                <input type="submit" value="SEND" onclick="validate()">
            </form>
            <h3 id="validation-msg"></h3>
        </div>
        <br>
        <table border="1">
            <tr>
                <th>Contact Method</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Email</td>
                <td>alicez2@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>123-456-7890</td>
            </tr>
            <tr>
                <td>LinkedIn</td>
                <td><a href="https://www.linkedin.com/in/alice-zhang-994145247/">linkedin.com/in/alice-zhang-994145247/</a></td>
            </tr>
        </table>
    </div>
    <br>
    <footer>
        <p id="copyYear">&copy; designed and coded by Alice Zhang</p>
    </footer>
    
</body>
</html>